.extra-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-image: url('https://image.freepik.com/free-vector/car-led-lights-realistic-composition-with-view-night-road-silhouettes-automobile-traffic-lights-illustration_1284-28531.jpg');
}